<div class="container">
	<% if @book_new.errors.any? %>
		<div style="color: red;">
			<h3><%= @book_new.errors.count %> error prohibited this obj from being saved:</h3>
			<ul>
				<% @book_new.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-3">
			<%= render "users/profile", user: current_user, book: @book_new %>
		</div>
		<div class="col-md-9">
			<h3>Books</h3>
			<table class="table">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>
				<tbody>
					<% @books.each do |book| %>
					<tr>
						<td>
							<%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: (5*5), style: "margin-right: 50px;" %>
						</td>
						<td>
							<%= link_to book_path(book.id) do %>
							<%= book.title %>
							<% end %>
						</td>
						<td>
							<%= book.body %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>


